<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <!-- Round  -->
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <!-- Start -->
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/profile.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/cons-facebook.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/cons-instagram.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/cons-twitter.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/cons-linkedin.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/cons-Youtube.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/cons-dribbble.svg" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End -->
                <div class="marginer"></div>
                <!-- Start  -->
                <div class="left_2">
                    <div class="left_2-1">
                        <div class="res">Age:</div>
                        <div>29</div>
                    </div>
                    <div class="left_2-1">
                        <div class="res">Residence:</div>
                        <div>S. Korea</div>
                    </div>
                    <div class="left_2-1">
                        <div class="res">Freelance:</div>
                        <div class="green">Available</div>
                    </div>
                    <div class="left_2-1">
                        <div class="res">Address:</div>
                        <div>S. Korea, Ulsan</div>
                    </div>

                </div>
                <!-- End  -->
                <div class="marginer"></div>
                <!-- Start  -->
                <div class="left_3">
                    <div class="languages-3">
                        <h2>Languages</h2>
                    </div>
                    <div class="uz">
                     <div>Uzbek</div>
                     <div> 100%</div>
                     </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="217" height="2" rx="1" fill="#FFB400"/>
                            </svg>
                    </div>
                    <div class="uz">
                        <div>Korean</div>
                        <div> 80%</div>
                    </div>
                    <div class="line2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="208" height="2" rx="1" fill="#FFB400"/>
                          </svg>
                    </div>
                    <div class="uz">
                        <div>English</div>
                        <div>60%</div>
                    </div>
                    <div class="line3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="190" height="2" rx="1" fill="#FFB400"/>
                          </svg>
                    </div>
                </div>
                <!-- End -->
                <div class="marginer"></div>
                <!-- Start  -->
                <div class="left_4">
                    <h2>Skills</h2>
                <div class="uz">
                 <div>Html</div>
                 <div> 90%</div>
                 </div>
                <div class="line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                        <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                        <rect x="2" y="2" width="217" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                </div>
                <div class="uz">
                    <div>CSS</div>
                    <div> 80%</div>
                </div>
                <div class="line2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                        <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                        <rect x="2" y="2" width="208" height="2" rx="1" fill="#FFB400"/>
                      </svg>
                </div>
                <div class="uz">
                    <div>Js</div>
                    <div>80%</div>
                </div>
                <div class="line3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                        <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                        <rect x="2" y="2" width="190" height="2" rx="1" fill="#FFB400"/>
                      </svg>
                </div>
                <div class="uz">
                    <div>PHP</div>
                    <div> 70%</div>
                </div>
                <div class="line4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                        <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                        <rect x="2" y="2" width="187" height="2" rx="1" fill="#FFB400"/>
                      </svg>
                </div>
                <div class="uz">
                    <div>WordPress</div>
                    <div> 85%</div>
                </div>
                <div class="line4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                        <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                        <rect x="2" y="2" width="187" height="2" rx="1" fill="#FFB400"/>
                      </svg>
                </div>
                </div>
                <!-- End -->
                <div class="marginer"></div>
                <!-- Start  -->
                <div class="left_5">
                    <div> <h2>Extra Skills</h2></div>
                    <div class="skils">
                        <div class="iconca"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                            <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                          </svg></div>
                        <div class="sk">Bootstrap, Materialize</div>
                    </div>
                    <div class="skils">
                        <div class="iconca"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                            <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                          </svg></div>
                        <div class="sk">Stylus, Sass, Less</div>
                    </div>
                    <div class="skils">
                        <div class="iconca"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                            <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                          </svg></div>
                        <div class="sk">Gulp, Webpack, Grunt</div>
                    </div>
                </div>
                <!-- End  -->
                <div class="marginer"></div>
            </div>
            <!-- Start  -->
            <div class="midd_frame">
                <div class="doc">
                    <div class="text">
                        <h1>Software Engineer <br>
                            in IT Company </h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Et, volutpat feugiat placerat lobortis. Natoque <br>rutrum semper sed suspendisse nunc lectus.</p>
                            <button>HIRE ME → </button>
                            <img src="icon/Ellipse 15.svg" alt=""  class="ellipse">
                            <img src="icon/Ellipse 16.svg" alt=""  class="Elli">
                            <img src="icon/Ellipse 16.svg" alt=""   class="Ellip">
                            <img src="icon/Polygon 1.svg" alt="" class="poly">
                            <img src="icon/Rectangle 52.svg" alt="" class="rec">
                            <img src="icon/Rectangle 52.svg" alt="" class="recc">
                            <img src="icon/Polygon 1.svg" alt="" class="polyy">
                    </div>
                    <div class="pic">
                        <img src="images/image 1.png"  alt="">
                    </div>
                </div>
                <div class="serv">
                    <div class="subtitle">
                        <h1>My Services</h1>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor <br>do amet sint. Velit officia consequat duis enim velit mollit. <br> lorem ipsum</p>
                    </div>
                    <div class="cards">
                        <div class="design">
                          <center><img src="icon/coding.svg" alt=""  class="imgs"></center> 
                          <center> <h4>web development</h4></center> 
                            <center> <p>blog, e-commerce</p></center> 
                           
                        </div>
                        <div class="design">
                            <center><img src="icon/illustration.svg" alt="" class="imgs"> </center>
                            <center> <h4>uI/uX design</h4></center> 
                                <center><p>Mobile app, website design</p></center> 
                        </div>
                        <div class="design">
                           <center><img src="icon/Microphone.svg" alt=""  class="imgs"></center> 
                           <center><h4>sound design</h4></center> 
                            <center><p>Voice Over, Beat Making</p></center> 
                        </div>
                    </div>
                    <div class="cards-2">
                        <div class="design">
                           <center> <img src="icon/game-development.svg" alt=""  class="imgs"></center>
                           <center><h4>game design</h4></center> 
                           <center><p>Character Design, Props & Objects</p></center> 
                        </div>
                        <div class="design">
                            <center><img src="icon/Photographer.svg" alt=""  class="imgs"></center>
                            <center><h4>photography</h4></center> 
                            <center><p>portrait, product photography</p></center> 
                        </div>
                        <div class="design">
                            <center> <h3>advertising</h3></center> 
                            <center> <p>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. Vitae <br>nulla diam in ac dictum a urna <br> viverra morbi. </p></center> 
                            <center><a rel="stylesheet" href=""> ORDER NOW </a></center> 
                        </div>  
                    </div>
                </div>
            </div>
            <!-- End  -->

            <!-- Start  -->
            <div class="right_frame">
                <div class="union"> 
                    <a class="link_href" href="">
                        <div class="uni">
                            <img src="icon/Contrast.svg" class="rightic">
                        </div>
                    </a>
                </div>
                <div class="unio">
                    <a class="link_href" href="">
                        <div class="uni">
                            <img src="icon/Union.png" class="right-ic">                         
                        </div>
                    </a>
                </div>
                <div class="un">
                    <a class="link_href" href="">
                        <div class="unis">
                            <img src="icon/Home.png" class="home">                         
                        </div>
                    </a>
                </div>
                <div class="uni-on">
                    <a class="link_href" href="">
                        <div class="uni">
                            <img src="icon/file-code.svg" class="righ">                         
                        </div>
                    </a>
                </div>
                <div>
                    <a class="link_href" href="">
                        <div class="uni">
                            <img src="icon/cv.svg" class="righ">                         
                        </div>
                    </a>
                </div>
                <div>
                    <a class="link_href" href="">
                        <div class="uni">
                            <img src="icon/Vector.svg" class="righ">                         
                        </div>
                    </a>
                </div>
                <div>
                    <a class="link_href" href="">
                        <div class="uni">
                            <img src="icon/Blog.svg" class="righ">                         
                        </div>
                    </a>
                </div>
                <div>
                    <a class="link_href" href="">
                        <div class="uni">
                            <img src="icon/Contact.svg" class="righ">                         
                        </div>
                    </a>
                </div>
            </div>
            <!-- End  -->
        </div>
    </div>
    <!-- End Round // -->
</body>

</html>
